{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "rules": {
    "object-curly-spacing": [2, "never"],
    "jsx-quotes": [2, "prefer-single"],
    "space-before-function-paren": 0,
    "no-new": 0,
    "no-else-return": 0,
    "no-loop-func": 0,
    "no-unused-expressions": 0,
    "no-const-assign": 2,
    "react/display-name": 2,
    "react/jsx-boolean-value": 0
  },
  "globals": {
    "__DEV__": true
  }
}
